<div style="margin-top: 10px; margin-bottom: 20px;">
    <div class="container text-center">
            <p class="lead magenta">Leave us a <a class="fw-bolder" style="color:#cea135;" href="/auth/createReview">review <i class="fas fa-pen-fancy"></i></a> of your current or previous experience. We want to hear from you!!!</p>
            <div class="row text-center mt-5">
                <% for(i=0; i<reviews.length; i++){ %>
                <div data-mdb-toggle="animation"
                     data-mdb-animation-start="onScroll"
                     data-mdb-animation="fade-in-up"
                     data-mdb-animation-delay="300"
                     class="col-md text-white m-2">
                    <i class="fas fa-star p-1" style="color: goldenrod"></i>
                    <i class="fas fa-star p-1" style="color: goldenrod"></i>
                    <i class="fas fa-star p-1" style="color: goldenrod"></i>
                    <i class="fas fa-star p-1" style="color: goldenrod"></i>
                    <i class="fas fa-star p-1" style="color: goldenrod"></i>
                    <h2>
                        <%= reviews[i].title %>
                    </h2>
                    <p class="lead">
                        <%= reviews[i].description %> <br>
                        Rated <%= reviews[i].rating %> out of 5 stars
                    </p>
                    <p>
                        By <%= reviews[i].yourName %> <br>
                        Posted On <%= reviews[i].datePosted.toLocaleString() %>
                    </p>
                </div>
                <% } %>
            </div>
    </div>
</div>