<div  class="datatable">
    <table>
        <thead>
        <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">EmployeeID</th>
            <th class="th-sm">Location</th>
            <th class="th-sm">Times</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">Client</th>
            <th class="th-sm">Date Posted</th>
        </tr>
        </thead>
        <tbody>
        <% for(i=0; i<schedule.length; i++){ %>
            <tr>
                <td><%= schedule[i].name %></td>
                <td><%= schedule[i].employeeID %></td>
                <td><%= schedule[i].location %></td>
                <td><%= schedule[i].hours %></td>
                <td><%= schedule[i].date %></td>
                <td><%= schedule[i].client %></td>
                <td>Posted On <br> <%= schedule[i].datePosted.toLocaleString() %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>