<div  class="datatable">
    <table>
        <thead>
        <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">EMail</th>
            <th class="th-sm">Location</th>
            <th class="th-sm">Times</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">Work</th>
            <th class="th-sm">Date Posted</th>
            <th class="th-sm">MakeChanges</th>
        </tr>
        </thead>
        <tbody>
        <% for(i=0; i<schedule.length; i++){ %>
            <tr>
                <td><%= schedule[i].name %></td>
                <td><a href="mailto:<%= schedule[i].email %>"><%= schedule[i].email %></a></td>
                <td><%= schedule[i].location %></td>
                <td><%= schedule[i].hours %></td>
                <td><%= schedule[i].date %></td>
                <td><%= schedule[i].client %></td>
                <td>Posted On <br> <%= schedule[i].datePosted.toLocaleString() %></td>
                <td><a href="/changeSchedule/<%= schedule[i]._id %>" class="btn btn-warning rounded-pill">Update</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>