<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body class="bg-layout">
<!-- Navbar -->
<%- include('layouts/navBar') -%>

<!-- home content -->
<%- include('components/about-main') -%>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>