<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body>
<!-- Navbar -->
<%- include('layouts/nav') -%>

<!-- home content -->
<%- include('components/community') -%>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>
