<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-layout">

<!--Navbar-->
<%- include('layouts/nav') -%>
<!-- Navbar -->

<div class="container p-5 text-center mb-5">
    <img src="/img/navLogo.png" class="img-fluid rounded-circle max-logo" alt="logo" />
    <h3>Thank You For Joining!!</h3>
    <!-- Default form register -->
    <p class="h4 mb-4">Sign up</p>

    <% if(errors != null && errors.length > 0) { %>
        <ul class="list-group">
            <% for(let i = 0; i < errors.length; i++){ %>
                <li class="list-group-item list-group-item-danger">
                    <%= errors[i] %>
                </li>
            <% } %>
        </ul>
    <% } %>
    <form class="text-center p-5" action="/users/register" method="post" enctype="multipart/form-data">


        <div class="md-form mb-3">
            <!-- First name -->
            <input type="text" id="username" name="username" class="form-control md-textarea" placeholder="Username">
        </div>

        <div class="md-form mb-3">
            <!-- First name -->
            <input type="text" id="name" name="name" class="form-control md-textarea" placeholder="Your Name">
        </div>

        <div class="md-form mb-3">
            <!-- First name -->
            <input type="text" id="jobTitle" name="jobTitle" class="form-control md-textarea" placeholder="Your Job Title">
        </div>

        <!-- E-mail -->
        <div class="md-form mb-3">
            <input type="email" id="email" name="email" class="form-control md-textarea mb-4" placeholder="E-mail">
        </div>

        <!-- Image -->
        <div class="md-form mb-3">
            <label for="image">Your Profile Picture</label>
            <input type="file" id="image" name="image" class="form-control md-textarea mb-4" accept="image/*">
        </div>

        <!-- Password -->
        <div class="md-form mb-3">
            <!-- First name -->
            <input type="password" id="password" name="password" class="form-control md-textarea" placeholder="Password">
        </div>

        <div class="md-form mb-3">
            <!-- First name -->
            <input type="text" id="phone" name="phone" class="form-control md-textarea" placeholder="Your Phone#">
        </div>

        <!--Message-->
        <div class="md-form mb-3">
            <label for="about">About You</label>
            <textarea id="about" name="about" class="form-control md-textarea" rows="3"></textarea>

        </div>

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

        <hr>

        <!-- Terms of service -->

    </form>
    <!-- Default form register -->
</div>

<!--Main Layout-->

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
