<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="schedule-bg">

<!--Navbar-->
<%- include('layouts/navBar') -%>
<!-- Navbar -->


<div class="container-fluid p-5" style="margin-top:40px; margin-bottom: 60px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/employee">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Scheduling</li>
        </ol>
    </nav>
    <h1 class="display-3">Scheduling</h1>
    <p class="lead">
        View the schedule that you had requested or email HR about any concerns.
    </p>
    <%- include('components/schedule') -%>

</div>

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
