<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="schedule-bg">

<!--Navbar-->
<%- include('layouts/navBar') -%>
<!-- Navbar -->


<div class="container-fluid p-5" style="margin-top:60px; margin-bottom: 60px;">
    <h1 class="display-3">Scheduling</h1>
    <p class="lead">
        View the schedule that you had requested or email HR about any concerns.
    </p>
    <%- include('components/schedule') -%>

</div>

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
